<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Recap: register your device</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">-->

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <div class="container">

      {% if snippets %}
      <h4>Your recapped conversations</h4>
      <div class="list-group">
        {% for snippet in snippets %}
        <div class="list-group-item" data-audio-url="{{ snippet.audio }}">
          <div class="list-group-item-icon">
            <svg class="list-group-item-icon-play" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="5.167 19.667 50 50"><g><path d="M14.739,29.239c-8.521,8.521-8.521,22.335,0,30.855s22.335,8.521,30.855,0s8.521-22.335,0-30.855S23.259,20.719,14.739,29.239z M42.508,57.01c-6.816,6.815-17.868,6.815-24.684,0c-6.816-6.816-6.816-17.868,0-24.685c6.817-6.816,17.868-6.816,24.684,0S49.325,50.193,42.508,57.01z"/><g><path d="M22.53,35.94c0-1.2,0.869-1.725,1.931-1.166l16.866,8.877c1.062,0.559,1.062,1.473,0,2.032L24.461,54.56c-1.062,0.56-1.931,0.035-1.931-1.165V35.94z"/></g></g></svg>
            <svg class="list-group-item-icon-pause" style="display: none;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="35 35 50 50"><g><path d="M44.572,44.572c-8.521,8.521-8.521,22.335,0,30.855s22.335,8.521,30.855,0s8.521-22.335,0-30.855S53.093,36.052,44.572,44.572z M72.342,72.342c-6.816,6.816-17.868,6.816-24.684,0s-6.816-17.868,0-24.684c6.817-6.816,17.868-6.816,24.684,0C79.158,54.475,79.158,65.525,72.342,72.342z"/><path d="M56.182,50.182c0.603,0,1.091,0.489,1.091,1.091v17.455c0,0.603-0.489,1.091-1.091,1.091h-3.272c-0.603,0-1.091-0.488-1.091-1.091V51.273c0-0.603,0.488-1.091,1.091-1.091H56.182z"/><path d="M67.091,50.182c0.603,0,1.091,0.489,1.091,1.091v17.455c0,0.603-0.488,1.091-1.091,1.091h-3.272c-0.603,0-1.091-0.488-1.091-1.091V51.273c0-0.603,0.488-1.091,1.091-1.091H67.091z"/></g></svg>
            <!-- play & pause by Jamison Wieser from the Noun Project -->
          </div>
          <div class="list-group-item-container">
              <div class="list-group-item-text list-group-item-autowrap">{{ snippet.transcription_html }}</div>
            <div class="list-group-item-subtext">
                <time class="timeago" datetime="{{ snippet.created_at }}">{{ format_date(snippet.created_at) }}</time>
                &ensp;•&ensp;
                you {% if snippet.device_count > 1 %}+ {{ snippet.device_count - 1 }} others{% else %}only{% endif %}
            </div>
            <div class="list-group-item-wave">
                <img src="/assets/images/preloader.gif" alt="Loading" class="list-group-item-wave-preloader" />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="warning-lock">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 71 125" enable-background="new 0 0 71 100" xml:space="preserve"><path d="M65.5,45V30c0-16.542-13.458-30-30-30s-30,13.458-30,30v15H0v55h71V45H65.5z M13.5,30c0-12.131,9.869-22,22-22	s22,9.869,22,22v15h-44V30z"/></svg>
        <!-- Lock by Edward Boatman from the Noun Project -->
        Recaps only for this device
      </div>
      {% endif %}

      {% if is_registered is defined %}
      <div class="alert alert-registered" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M50,100C22.43,100,0,77.57,0,49.999C0,22.43,22.43,0,50,0c27.569,0,50,22.43,50,49.999C100,77.57,77.57,100,50,100z   M50,9.235c-22.478,0-40.766,18.287-40.766,40.765c0,22.478,18.288,40.766,40.766,40.766s40.765-18.288,40.765-40.766  C90.765,27.521,72.479,9.235,50,9.235z"></path><path
        d="M39.055,75.477c-1.417,0-2.775-0.562-3.777-1.565L21.889,60.523c-2.086-2.086-2.086-5.467,0-7.554  c2.086-2.085,5.468-2.085,7.554,0.001l9.612,9.612l31.503-31.503c2.086-2.086,5.467-2.086,7.554,0c2.086,2.086,2.086,5.467,0,7.553  l-35.279,35.28C41.83,74.914,40.471,75.477,39.055,75.477z"></path></svg>
        Recaps for this device are sent to {{ email }} <a class="alert-action" href="#">edit</a>
      </div>
      <div class="register" style="display: none">

      {% else %}
      <div class="register">
      {% endif %}

        <div class="register-prompt">
          <h2>Recaps, in your inbox</h2>

          <p>Recap knows when you're around it: get your conversation recaps instantly by email.</p>
        </div>

        {% if success is defined %}
        <div class="alert alert-success" role="alert"><strong>Success.</strong> {{ success }}</div>
        {% endif %}

        {% if error is defined %}
        <div class="alert alert-danger" role="alert"><strong>Error</strong>: {{ error }}</div>
        {% endif %}

        {% if hide_form is not defined %}
        <form action="/" method="POST" class="form-register">
          <label for="name"><strong>Name</strong>&ensp;<em>optional</em></label>
          <input class="u-full-width" type="text" id="name" name="name" placeholder="emojis loved 👌" {% if name is defined %}value="{{ name }}"{% endif %}>

          <label for="email"><strong>Email</strong></label>
          <input class="u-full-width" type="email" id="email" name="email" placeholder="you@yourfancyemail.com" required {% if email is defined %}value="{{ email }}"{% endif %}>

          <button type="submit" class="button-primary">Submit</button>
        </form>
        {% endif %}
      </div>

      <footer>Recap is in β: we'd love to <a href="mailto:david@davidchouinard.com">hear from you</a></footer>

      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/jquery.timeago.js"></script>
      <script src="/assets/js/wavesurfer.min.js"></script>
      <script src="/assets/js/main.js"></script>
    </div>
  </body>
</html>
